
  .memory-game {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px); 
    grid-gap: 10px; 
    width: 600px; 
    height: 640px; 
    margin:auto;
    justify-content:center;
  }
  
  .memory-card {
    width: 140px;
    height: 140px;
    position: relative;
    transform-style: preserve-3d;
    background-color: #409142;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0); /* Add a white outline */
}
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .memory-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .front-face {
    transform: rotateY(0deg);
  }
  
  .back-face {
    transform: rotateY(180deg);
    background-color: #fff;
  }
  
  
  